@import url('https://fonts.googleapis.com/css2?family=Unna:wght@400;700&display=swap');
.our-story{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.our-story img {
    width: 50%; 
    height: auto; 
    border-radius: 10px;
}
.text-our-story{
    flex: 1;
    padding-left: 100px;
    margin-top: -20px;
}
.text-our-story h1 {
    font-family: "Unna", serif;
    font-size: 24px; 
    margin: 0; 
    color: #333;
    font-weight: 400;
}

.text-our-story h2 {
    font-family: "Unna", serif;
    font-size: 40px; 
    font-weight: 400;
    color: #060606; 
    margin: 10px 0;
}
.text-our-story p {
    font-family: "Unna", serif; 
    font-size: 16px; 
    color: rgb(77, 79, 72); 
    line-height: 26px;
    font-weight: 400;
}
@media (max-width: 768px) {
    .our-story {
        flex-direction: column;
        padding: 20px;
        margin-top: 80px;
    }

    .our-story img {
        width: 100%; 
        margin-bottom: 20px;
    }

    .text-our-story {
        padding-left: 0;
    }
}
.button-our-story{
    padding: 6px 20px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #5c9735;; 
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 50px;
    text-align: center;
}