@import url('https://fonts.googleapis.com/css2?family=Unna:wght@400;700&display=swap');
.new-plants{
    display: flex;
    justify-content: space-between;
    padding: 80px 45px;
    text-align: center;
}
.new-plants h1{
    font-family: "Unna", serif;
    font-weight: 400;
}
.button-new-plants{
    padding: 6px 20px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #5c9735; 
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 50px;
    text-align: center;

}
@media (max-width: 628px) {
    .new-plants{
        padding: 10px 10px;
        display: block;
    }
}