.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    z-index: 200;
    background-color: #f9f9f9;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
}
  
.sidebar.open {
    transform: translateX(0);
}
.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: white;
}  
.close-btn {
    background: none;
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    width: 26px;
    height: 28px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    gap: 5px;
}
.sidebar-header h1{
    font-size: 15px;
    align-items: center;
    text-align: center;
    color: black;
}
@media (max-width: 628px) {
    .sidebar{
        width: 280px;
    }
}

.header-line {
    height: 1px;
    background-color: #ddd;
    margin: 0.5rem 0;
}
.cart-items {
    padding: 1rem;
    overflow-y: auto;
    max-height: calc(100% - 100px); 
    
}
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.cart-item-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 1rem;
}
.cart-item-details {
    flex: 1;
}
.cart-item-name {
    font-size: 1rem;
    margin: 0;
}
.cart-item-price {
    font-size: 0.9rem;
    color: #888;
}
.remove{
    cursor: pointer;
}
.check-out-btn{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px;
}
.check-out-btn button{
    width: 100%;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #5c9735; 
    border: none;
    border-radius: 5px;
    text-decoration: none; 
    outline: none;
    text-decoration: none;
}
.check-out-btn button:hover {
    background-color: #7bdb80;
}